/* Section */

.cat-section {
  width: 90%;
  margin: 60px auto;
  position: relative;
}

/* Leaf */

.cat-leaf {
  position: absolute;
  left: -80px;
  top: 120px;
  width: 100px;
}

/* Header */

.cat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 30px; */
}

.cat-subtitle {
  color: #7ac142;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 0px;
  padding-left: 200px;
  /* margin-bottom: 10px; */
}

.cat-header h2 {
  font-size: 36px;
  font-weight: bold;
   line-height: 0px;
  padding-left: 200px;
  
}

/* Arrows */

.cat-arrows {
  display: flex;
  gap: 5px;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #7ac142;
  color: white !important;
}

.swiper-button-prev {
  background: #333;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px;
  font-weight: bold;
}

/* Card */

.cat-card {
  position: relative;
  text-align: center;
}

/* Image Wrapper */

.cat-card .img-main {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 20px auto 0;
  border-radius: 50%;
  border: 1px solid green;
  overflow: hidden;
}

/* Image */

.cat-card .img-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform 0.4s ease;
}

/* Black Overlay */

.cat-card .img-main .img-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.45); /* black layer */
  opacity: 0;

  transition: opacity 0.4s ease;
}

/* Hover Effect */

.cat-card:hover .img-main img {
  transform: scale(1.1);
}

.cat-card:hover .img-main .img-overlay {
  opacity: 1;
}
/* Label */

.cat-card span {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #7ac142;
  /* border: 2px dotted white; */
  color: white;
  padding: 6px 18px;
  border-radius: 25px;
  font-size: 13px;
  white-space: nowrap;
}

/* Hover */

.cat-card:hover span {
  background: #5ca52e;
}

/* FORCE SHOW NAV BUTTONS */

.cat-arrows {
  display: flex;
  gap: 15px;
}

.custom-prev,
.custom-next {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: #2c7a4b;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-prev:hover,
.custom-next:hover {
  background: #1f5f38;
}
/* Side preview effect */

.swiper {
  padding: 0 200px;   /* left-right gap */
}

.swiper-slide {
  transition: 0.4s ease;
  /* opacity: 0.6; */
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.05);
}