.navbar {
  background: white;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.nav-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.nav-logo img {
  height: 45px;
}

/* Menu */

.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-menu li a:hover {
  color: #7fbf3f;
}

/* Icons */

.nav-icons {
  display: flex;
  align-items: center;
  gap: 12px;
  /* font-size: 30px; */
}

.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #7fbf3f;
  cursor: pointer;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
  font-size: 15px;
}

.icon-btn:hover {
  background: #7fbf3f;
  color: white;
}

/* Cart Badge */

.cart-btn {
  position: relative;
  background: #7fbf3f;
  color: white;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;

  background: black;
  color: white;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  font-size: 11px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile Menu Button */

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

/* Responsive */

@media (max-width: 900px) {

  .nav-menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;

    background: white;

    flex-direction: column;
    align-items: center;

    gap: 20px;
    padding: 30px 0;

    display: none;
  }

  .nav-menu.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

}