/* Wrapper */
.promo-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  overflow: hidden;
}


/* Background Shape */
.promo-shape {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  opacity: 0.9;
  z-index: 0;
  pointer-events: none;
}


/* Cards Row */
.promo-row {
  display: flex;
  gap: 35px;
  z-index: 2;
  align-items: center;
}


/* Normal Card */
.promo-card {
  width: 350px;         /* Small cards */
  height: 300px;        /* Same height */
  border-radius: 14px;
  border: 1px solid green;
  overflow: hidden;
  position: relative;
  background: transparent;
  flex-shrink: 0;
}


/* Big First Card */
.promo-card.slider-card {
  width: 500px;         /* Big card */
  height: 380px;        /* Same height */
}
.promo-card
{
  width: 270px;         /* Big card */
  height: 380px; 
  
}
/* Black Overlay Hover Effect */
.promo-card {
  position: relative;
  overflow: hidden;
}

/* Overlay Layer */
.promo-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); /* Black layer */
  opacity: 0;
  transition: 0.3s ease;
  z-index: 1;
}

/* Show Overlay on Hover */
.promo-card:hover::after {
  opacity: 1;
}

/* Bring Text Above Overlay */
.promo-text,
.promo-arrows {
  position: relative;
  z-index: 2;
}

/* Image */
.promo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* No cut */
  /* display: block; */
}


/* Text */
.promo-text {
  position: absolute;
  bottom: 40px;
  left: 20px;
  right: 20px;
  color:white;
}

.promo-text h3 {
  font-size: 22px;
  margin: 0;
  text-shadow: 1px 1px 1px black;
}

.promo-text p {
  font-size: 14px;
  margin-top: 4px;
  opacity: 0.9;
}


/* Arrows */
.promo-arrows {
  position: absolute;
  bottom: 15px;
  left: 20px;
  display: flex;
  gap: 10px;
}

.promo-arrows button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: #4caf50;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.promo-arrows button:hover {
  background: #2e7d32;
  transform: scale(1.1);
}